<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Bem vindo!</mat-card-title>
    <mat-card-subtitle>Sistema de gerenciamento de ocorrências</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/policeHome.svg" alt="Imagem da Home">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>

  